$primaryColor: #444;
$secondaryColor:rgb(68, 194, 216);
$showHomeImage: true;
$homeImage: url(../img/Background.jpg);
$backgroundOpacity: 0.9;
$portrait: url(../img/portrait.jpg);

@mixin easeOut {
    transition: all 0.7s ease-out;
}

@mixin background {
    @if $showHomeImage  {
        &#bgImg{
            background: $homeImage;
            background-attachment: fixed;
            background-size: cover;
            .overlay{
                z-index: -1;
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: rgba($primaryColor,$backgroundOpacity);
            }
        }
    }
}

@mixin mediaSm {
    @media screen and(max-width:500px){
        @content;
    }
}
@mixin mediaMd {
    @media screen and(max-width:768px){
        @content;
    }
}
@mixin mediaLg {
    @media screen and (min-width: 769px)and(max-width:1770px){
        @content;
    }
}
@mixin mediaXL {
    @media screen and(min-width:1771px){
        @content;
    }
}